<%= simple_form_for @place, url: place_search_path do |f| %>  
  <p>I'm in <%= f.collection_select(:area_id, Area.all, :id, :name) %>
  <%= f.button :submit, "Search", class: 'btn btn-primary' %></p>
<% end %>