<h1>Welcome to ToDo L.A.!</h1>

<h2><em>Your bossy friend who always has a suggestion.</em></h2>

<p>What do you want to do?</p>

<%= render "searchform" %>

<hr />

<h3>Or go out and explore these places!</h3>

<%= render "grid" %>

<div style="clear: both;"></div>

<% if user_signed_in? %>
<p><%= link_to "Create a new listing", new_place_path %></p>
<% end %>