<h1>Here are some suggestions...</h1>
<br />

<%= render "grid" %>

<hr />

<p><%= link_to "Go back to list of places", places_path %></p>

<p><strong>Looking for something else to do?</strong></p>

<%= render "searchform" %>